<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight"
    style="background-image: url('../../../assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>About us <i
                            class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">About Us</h1>
            </div>
        </div>
    </div>
</section>
<!-- <section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
                style="background-image: url(../../../assets/images/about.jpg);">
            </div>
            <div class="col-md-6 wrap-about py-md-5">
                <div class="heading-section p-md-5">
                    <h2 class="mb-4">We Put People First.</h2>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                        is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it
                        would have been rewritten a thousand times and everything that was left from its origin would be
                        the word "and" and the Little Blind Text should turn around and return to its own, safe country.
                        But nothing the copy said could convince her and so it didn’t take long until a few insidious
                        Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their
                        agency, where they abused her for their.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info justify-content-center">
            <div class="col-md-8">
                <div class="row mb-5">
                    <div class="col-md-4 text-center py-4">
                        <div class="icon">
                            <span class="icon-map-o"></span>
                        </div>
                        <p><span>Our Vision</span></p>
                    </div>
                    <div class="col-md-4 text-center border-height py-4">
                        <div class="icon">
                            <span class="icon-mobile-phone"></span>
                        </div>
                        <p><span>Our Mission</span></p>
                    </div>
                    <div class="col-md-4 text-center py-4">
                        <div class="icon">
                            <span class="icon-envelope-o"></span>
                        </div>
                        <p><span>Our Leadership</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-us">
            <div class="our-vision">
                <h4>Our Vision</h4>
                <p>At Route 183 Living, our vision is to build intentional communities that prioritize sustainability,
                    community living and shared values. We strive to unlock the value of land while delivering value to
                    the residents, creating spaces where individuals can live, work, and connect with others who share
                    their vision for a better world.</p>
                <p>We envision intentional communities that promote self-sufficiency, environmental stewardship and
                    social responsibility. Our communities will be designed to encourage social interaction, community
                    involvement, and shared responsibility, fostering a sense of belonging and connection among
                    residents.
                    We aim to expand our intentional communities globally, creating a network of sustainable,
                    community-driven spaces that offer residents the opportunity to experience the benefits of
                    intentional living in different parts of the world. By doing so, we hope to inspire a movement
                    towards intentional living, creating a brighter, more connected, and sustainable future for all.</p>
                <p>At the core of our vision is a commitment to delivering value to the community. We believe that by
                    building intentional communities that prioritize sustainability and community involvement, we can
                    create positive change that extends beyond the boundaries of our communities, impacting the wider
                    world and inspiring others to follow in our footsteps.</p>
            </div>

            <div class="our-mission">
                <h4>Our Mission</h4>
                <p>Here are four points that form the mission of Route 183 Living:</p>
                <p>1. To create intentional communities that prioritize sustainability and community building: our
                    mission is to design and develop intentional communities that prioritize sustainability and
                    community building, creating spaces where individuals can live, work, and connect with others who
                    share their vision for a better world.</p>
                <p>2. To deliver value to our community: ee aim to deliver value to the community by building
                    intentional communities that unlock the value of land while delivering value to the residents. We
                    believe that by prioritizing sustainability and community involvement, we can create positive change
                    that extends beyond the boundaries of our communities.</p>
                <p>3. To inspire a movement towards intentional living: our mission is to inspire a movement towards
                    intentional living, creating a brighter, more connected, and sustainable future for all. By building
                    intentional communities that prioritize sustainability and community living, we hope to inspire
                    others to follow in our footsteps, creating a ripple effect that can have a positive impact on the
                    wider world.</p>
                <p>4: We will dream big.</p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section">
                <span class="subheading">Leadership</span>
                <h2 class="mb-3">Our Leadership</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <div class="d-flex align-items-center">
                                    <div class="user-img"
                                        style="background-image: url(../../../assets/images/person_1.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Terry Hunter</p>
                                        <span class="position">President</span>
                                    </div>
                                </div>
                                <p class="mb-4">Terry Hunter is a passionate and dedicated individual who grew up on a
                                    family farm in the community
                                    of Astle, New Brunswick. Holding degrees in both Social Sciences and Business, Terry
                                    is also a Certified Forest
                                    Technologist with specializing in reforestation and harvesting sustainable. With a
                                    personal vision to enable as
                                    many people as possible to adopt economically and environmentally sustainable
                                    practices. Terry combines his
                                    diverse educational background and experience to inspire change in industry and
                                    communities alike.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <div class="d-flex align-items-center">
                                    <div class="user-img"
                                        style="background-image: url(../../../assets/images/person_2.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Norma Aziz</p>
                                        <span class="position">Vice President</span>
                                    </div>
                                </div>
                                <p class="mb-4">
                                    Norma Aziz is a dynamic entrepreneur with an impressive track record in the
                                    transportation business and tourism industry. Her innovative spirit and keen
                                    business acumen has allowed her to create successful ventures that cater to the
                                    evolving needs of travelers and commuters alike. With a genuine passion for
                                    connecting people and places, Norma has made a significant impact on the way
                                    individuals experience and explore new destinations. Her commitment to excellence
                                    and customer satisfaction has garnered her a well-deserved reputation as a
                                    trailblazer in both the transportation and tourism sectors.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <div class="d-flex align-items-center">
                                    <div class="user-img"
                                        style="background-image: url(../../../assets/images/person_3.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Lenzi Aziz</p>
                                        <span class="position">CFO</span>
                                    </div>
                                </div>
                                <p class="mb-4">Lenzi Aziz currently living on active farm in New Brunswick. He has
                                    extensive experience in intelligence solutions in the Capital Markets with over 15
                                    years experience in one of Canada's largest banks. Lenzi believes that intelligent
                                    solutions should be affordable, sustainable, and economically viable. Lenzi is
                                    passionate about blogging on topics that interest him, and he believes that
                                    affordable housing is an important issue that deserves attention. With his expertise
                                    and leadership skills, Lenzi is committed to making a positive impact in the world
                                    of business and beyond.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <div class="d-flex align-items-center">
                                    <div class="user-img"
                                        style="background-image: url(../../../assets/images/person_1.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Ereeny Faraon</p>
                                        <span class="position">Director Operations Support</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>