<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('../../../assets/images/bg_1.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i
                            class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Our Blog</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex">
                <div class="blog-entry justify-content-end">
                    <div class="text">
                        <h3 class="heading"><a routerLink="blogDetail">Pops: "You will find happiness when you stop paying the price"</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">July. 24, 2019</a></div>
                            <div><a href="#">#LenziAziz</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <a routerLink="blogDetail" class="block-20 img"
                            style="background-image: url('../../../assets/images/image_1.jpg');">
                        </a>
                        <p>#LenziAziz Happiness Redefined: The Inspiring Journey of My Cousin Pops Recently, I had the privilege of visiting my cousin Pops, a...
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex">
                <div class="blog-entry justify-content-end">
                    <div class="text">
                        <h3 class="heading"><a routerLink="blogDetail">What is Route 183?</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">July. 24, 2019</a></div>
                            <div><a href="#">#LenziAziz</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <a routerLink="blogDetail" class="block-20 img"
                            style="background-image: url('../../../assets/images/image_1.jpg');">
                        </a>
                        <p>#LenziAziz Route 183 Living: The Future of Intentional Communities In recent years, there has been a growing interest in intentional...
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex">
                <div class="blog-entry justify-content-end">
                    <div class="text">
                        <h3 class="heading"><a routerLink="blogDetail">Pops: "You will find happiness when you stop paying the price"</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">July. 24, 2019</a></div>
                            <div><a href="#">#LenziAziz</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <a routerLink="blogDetail" class="block-20 img"
                            style="background-image: url('../../../assets/images/image_1.jpg');">
                        </a>
                        <p>#LenziAziz Happiness Redefined: The Inspiring Journey of My Cousin Pops Recently, I had the privilege of visiting my cousin Pops, a...
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex">
                <div class="blog-entry justify-content-end">
                    <div class="text">
                        <h3 class="heading"><a routerLink="blogDetail">What is Route 183?</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">July. 24, 2019</a></div>
                            <div><a href="#">#LenziAziz</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <a routerLink="blogDetail" class="block-20 img"
                            style="background-image: url('../../../assets/images/image_1.jpg');">
                        </a>
                        <p>#LenziAziz Route 183 Living: The Future of Intentional Communities In recent years, there has been a growing interest in intentional...
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>