<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Lot</th>
        <th scope="col">Land excl Buffer acres(sq m)</th>
        <th scope="col">Total Area sq m</th>
        <th scope="col">Cost</th>
        <th scope="col">HST</th>
        <th scope="col">Total Cost</th>
        <th scope="col">DownPayment</th>
        <th scope="col">Monthly Payment based on 10 yrs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 Sold* </td>
        <td>2.79 (11,300) </td>
        <td>2.79 (11,300) </td>
        <td>$19,900.00 </td>
        <td>$2,985.00 </td>
        <td>$22,885.00 </td>
        <td>$2,985.00 </td>
        <td> $286.50 </td>
      </tr>
      <tr>
        <td>2 Sold* </td>
        <td>4.88 (19,700)  </td>
        <td>4.88 (19,700) </td>
        <td>$19,900.00 </td>
        <td>$2,985.00 </td>
        <td>$22,885.00 </td>
        <td>$2,985.00 </td>
        <td> $286.50 </td>
      </tr>
      <tr>
        <td>3 Sold* </td>
        <td>5.14 (20,800)  </td>
        <td>5.14 (20,800)  </td>
        <td>$20,800.00 </td>
        <td>$3,120.00</td>
        <td>$23,920.00 </td>
        <td>$3,120.00  </td>
        <td> $298.00  </td>
      </tr>
      <tr>
        <td>4 Sold* </td>
        <td>2.00 (8100)  </td>
        <td>3.16 (12,800)  </td>
        <td>SOLD  </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>5 Sold* </td>
        <td>1.00 (4020) </td>
        <td>1.58 (6420)  </td>
        <td>$19,900.00 </td>
        <td>$2,985.00 </td>
        <td>$22,885.00 </td>
        <td>$2,985.00 </td>
        <td> $286.50 </td>
      </tr>
      <tr>
        <td>6 Sold* </td>
        <td>1.17 (4,756)  </td>
        <td>1.62 (65730)</td>
        <td>$19,900.00 </td>
        <td>$2,985.00 </td>
        <td>$22,885.00 </td>
        <td>$2,985.00 </td>
        <td> $286.50 </td>
      </tr>
      <tr>
        <td>7 Sold* </td>
        <td>1.32 (5,353)  </td>
        <td>1.90 (6,573)  </td>
        <td>$19,300.00 </td>
        <td>$2,985.00 </td>
        <td>$22,195.00 </td>
        <td>$2,985.00 </td>
        <td> $277.00  </td>
      </tr>
      <tr>
        <td>8 Sold* </td>
        <td>2.30 (9,326)  </td>
        <td>3.53 (14,300) </td>
        <td>$19,900.00 </td>
        <td>$2,985.00 </td>
        <td>$22,885.00 </td>
        <td>$2,985.00 </td>
        <td> $286.50 </td>
      </tr>
      <tr>
        <td>9 Sold* </td>
        <td>2.29 (9,268) </td>
        <td>3.46 (14,000)  </td>
        <td>$19,900.00 </td>
        <td>$2,985.00 </td>
        <td>$22,885.00 </td>
        <td>$2,985.00 </td>
        <td> $286.50 </td>
      </tr>
      <tr>
        <td>10 </td>
        <td>2.17 (8,800)   </td>
        <td>3.71 (10,500)  </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>11 </td>
        <td>2.99 (12,100)  </td>
        <td>5.68 (23,000) </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td> 12</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td> 13</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td> 14</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td> 15</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>