.table-bordered {
    border: 1px solid #dee2e6;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
}

.table-bordered th{
    background-color: rgb(39, 96, 238);
    color: #fff;
}