<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight"
    style="background-image: url('../../../assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Blog Detail <i
                            class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Blog Detail</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 d-flex">
                <div class="blog-entry justify-content-end">
                    <div class="text">
                        <h1>Pops: "You will find happiness when you stop paying the price"</h1>
                        <div class="meta mb-3">
                            <div><a href="#">July. 24, 2019</a></div>
                            <div><a href="#">#LenziAziz</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <a routerLink="blogDetail" class="block-20 img"
                            style="background-image: url('../../../assets/images/image_1.jpg'); height: 500px;">
                        </a>
                        <p> #LenziAziz Happiness Redefined: The Inspiring Journey of My Cousin Pops </p>
                        <p> Recently, I had the privilege of visiting my cousin Pops, a resident of a charming
                            one-hectare farm in Costa Rica. The tranquil beauty of his abode stood in stark contrast to
                            his previous home in the hectic metropolis of Toronto. Amidst our talks, Pops imparted a
                            phrase that resonated deeply within me: "You will find happiness when you stop paying the
                            price." </p>
                        <p> It took some time and many dialogues to decode his profound wisdom. The 'price,' Pops
                            referred to, symbolizes the invisible burden we bear in our quest for success, driven by
                            societal expectations. This can materialize as an emotional, physical, social, or identity
                            cost. Pops chose to discontinue paying this cost. </p>
                        <p> **Emotional Price:** In the city, Pops regularly compromised his emotional wellbeing due to
                            the demanding pace and stress-laden work. Costa Rica offered him a sanctuary where he could
                            prioritize tranquility over anxiety. </p>
                        <p> **Physical Price:** Urban living often disregarded his health. His current routine involves
                            physical farming tasks, binding him with the earth's rhythm, a connection urban life could
                            never offer. </p>
                        <p> **Social Price:** Earlier, Pops maintained exhausting relationships under societal pressure.
                            Now, he treasures a tight-knit community of like-minded neighbors. </p>
                        <p> **Identity Price:** In Toronto, societal norms forced Pops into roles that belied his true
                            aspirations. Costa Rica welcomed his authenticity, letting him lead a life reflecting his
                            true values and passions. </p>
                        <p> Pops's transformation wasn't about rejecting societal norms, but realizing the high cost he
                            was paying for them. He chose a simpler life, focusing on emotional stability, physical
                            health, genuine connections, and self-expression. </p>
                        <p> The peaceful life Pops discovered substantiates his profound wisdom. Happiness, unique to
                            every individual, often lies in acknowledging and relinquishing the 'price' we are paying.
                            Like Pops, sometimes, a drastic change in environment is necessary to cease paying that
                            price and embrace true happiness. </p>
                        <p> We needn't imitate Pops's path, but understand the essence behind it: we hold the reins to
                            our happiness. We can shape it ourselves, which may sometimes involve relinquishing the
                            'price' we aren't even cognizant of. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>